Repo-Yan-com-netflix
PDFs
.vscode
pagina_web_alana
teste.html
/imgs
template-mini-projeto.zip
Mini Projeto/*.png
Projetos - Material Complementar React - Yan.url
Anotações React.txt.lnk
Netlify - para build online.url
React Boilerplate.url
Template Aula.url

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
